In [2]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import re
import os 

reviews = []
stars = []
date = []
country = []

for i in range(1, 30):
    page = requests.get(f"https://www.airlinequality.com/airline-reviews/british-airways/page/{i}/?sortby=post_date%3ADesc&pagesize={100}")
    soup = BeautifulSoup(page.content, "html.parser")

    for item in soup.find_all("div", class_="text_content"):
        reviews.append(item.text)

    for item in soup.find_all("div", class_="rating-10"):
        try:
            stars.append(item.span.text)
        except Exception as e:
            print(f"ERROR on Page {i}: {e}")
            stars.append("none")

    for item in soup.find_all("time"):
        date.append(item.text)

    for item in soup.find_all("h3", class_="text_sub_header userStatusWrapper"):
        country_element = item.find("span", itemprop="author").find("span", itemprop="name")
        if country_element is not None:
            country_match = re.search(r'\((.*)\)', str(item))
            if country_match is not None:
                country.append(country_match.group(1))
            else:
                country.append("Unknown")  # If country value not found, add "Unknown"
        else:
            country.append("Unknown")


print(len(country))
print(len(reviews))
print(len(stars))
print(len(date))
#print(country)

2900
2900
2929
2900

In [7]:
stars = stars[:2900]

In [8]:
df = pd.DataFrame({"reviews": reviews,"stars": stars, "date":date , "country":country})
df.head()

,reviews,stars,date,country
0,"Not Verified | I flew with numerous airlines, ...",\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,16th June 2023,Romania
1,✅ Trip Verified | We were traveling as a fami...,1,13th June 2023,United States
2,✅ Trip Verified | Flight at 8.40am from DUB to...,3,12th June 2023,Australia
3,✅ Trip Verified | Terrible. I have traveled t...,1,11th June 2023,United Kingdom
4,✅ Trip Verified | The customer service is ugl...,1,11th June 2023,United States

In [9]:
cwd = os.getcwd()

df.to_csv(cwd +"/BA_data.csv")